<ngx-spinner bdOpacity="0.9" bdColor="#333" size="medium" color="#fff" type="square-loader" [fullScreen]="true">
    <p style="color: white">Loading...</p>
</ngx-spinner>
<app-head></app-head>
<div class="container">
    <div *ngIf="data">
        <!-- <app-world-map *ngFor="let country of countries.data.covid19Stats" [country]="country"></app-world-map> -->
        <div class="map">
            <google-chart class="chart" #chart
            [title]="title"
            [type]="type"
            [data]="data"
            [options]="options"
            [columnNames]="columnNames"
            [options]="options"
        >
            </google-chart>
        </div>
    </div>
    <!-- <div *ngIf="countries">
        <ul *ngFor="let country of countries.data.covid19Stats">
            <li>{{country.country}}</li>
        </ul>
    </div> -->
</div>