.title{
    text-align: center;
}
.texts{
    text-align: center;
}
.content{
    margin-top: 1rem;
}
.card-text{
    text-align: center;
}
div.map{
    padding-top: 5rem;
    overflow-x: scroll;
    align-self: center;
}
