.title{
    text-align: center;
}
.texts{
    text-align: center;
}
.content{
    margin-top: 1rem;
}
.card-text{
    text-align: center;
}
.map{
    margin-top: 5px;
    margin-bottom: 8px;
    max-width: inherit;
    overflow-x: scroll;
}
.chart{
    width: inherit;
}